<div class="{{build.state | stateClass}} ablock">
    <div>
        <img class="commiter" src="http://www.gravatar.com/avatar/{{ build.commit.committer.email | gravatar }}">
    </div>
    <h2><span ng-if="build.isPr">PR: </span>{{build.name}}</h2>

    <p class="lead">
        <strong>{{build.branch}}</strong>
    </p>

    <p>
        BUILDING
    </p>
    <span class="glyphicon glyphicon-hourglass spin"></span>

    <div class="truncate">
        {{build.commit.message}}
    </div>

    <p>Build started  <span class="time" data-finished_at="{{build.startedAt}}">{{build.startedAt | timeAgo}}</span> ago.</p>
</div>
