<div class="{{build.state | stateClass}} ablock">
    <div>
        <img class="commiter" src="http://www.gravatar.com/avatar/{{ build.commit.author_email | gravatar }}">
    </div>

    <h2>{{build.name}}</h2>

    <p class="lead">
        <strong>{{build.commit.branch}}</strong>
    </p>

    <p>
        Build broken with state: {{build.build.state}} by {{build.commit.author_name}}
    </p>
    <span class="glyphicon glyphicon-remove"></span>

    <p>
        <em>{{build.commit.message}}</em>
    </p>

    <p>{{build.build.finished_at}}</p>

</div>
