<div class="row">
    <div ng-repeat="(key, build) in builds" class=" col col-md-3" ng-if="isFailed(build.state)">
        <div class="{{build.class}} ablock">
            <h2 ng-if="build.build.pull_request">PR:</h2>

            <h2>{{build.name}}</h2>

            <p class="lead">
                <strong>{{build.commit.branch}}</strong>
            </p>

            <p>
                Build broken with state: {{build.build.state}} by {{build.commit.author_name}}
            </p>
            <span style="font-size: 30px" class="glyphicon glyphicon-remove"></span>
            <p>
                <em>{{build.commit.message}}</em>
            </p>

            <p>{{build.build.finished_at}}</p>
        </div>
    </div>

    <div ng-repeat="(key, build) in builds" class=" col col-md-3" ng-if="isBuilding(build.state)">
        <div class="{{build.class}} ablock">
            <h2 ng-if="build.build.pull_request">PR:</h2>

            <h2>{{build.name}}</h2>

            <p class="lead">
                <strong>{{build.commit.branch}}</strong>
            </p>

            <p>
               BUILDING
            </p>
            <span style="font-size: 30px" class="glyphicon glyphicon-hourglass"></span>
            <p>
                <em>{{build.commit.message}}</em>
            </p>
        </div>
    </div>

    <div ng-repeat="(key, build) in builds" class=" col col-md-3" ng-if="isPassing(build.state)">
        <div class="{{build.class}} ablock">
            <h2 ng-if="build.build.pull_request">PR:</h2>

            <h2>{{build.name}}</h2>

            <p class="lead">
                <strong>{{build.commit.branch}}</strong>
            </p>
            <span style="font-size: 30px" class="glyphicon glyphicon-ok"></span>
            <p>{{build.build.finished_at}}</p>
        </div>
    </div>
</div>


<!--<div class="row">-->
<!--<div ng-repeat="issue in data.issues.repos" class=" col col-md-3" ng-if="last_build_id">-->
<!--<div class="{{issue.state}}{{issue.pull_request}} ablock">-->
<!--<h2 ng-if="issue.pull_request">PR:</h2>-->

<!--<h3>{{issue.description}}</h3>-->
<!--<strong>{{data.issues.commits[$index].author_name}}</strong>-->

<!--<p>{{issue.state}}</p>-->

<!--<p>{{data.issues.commits[$index].branch}} <b>{{issue.pull_request_title}}</b></p>-->

<!--<p>{{issue.finished_at}}</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
