<section class="settingsForm">
    <h3>Repo settings:</h3>
    <div style="display:none" id="repo-success" role="alert" class="alert alert-success">
        <strong>Saved:</strong> Your settings were saved.
    </div>

    <form ng-submit="submit()" class="form-inline">
        <div class='project-settings' ng-repeat="(key, repo) in repos">
            <h3 >{{key}}</h3>

            <div class='project-settings' ng-repeat="(keyy, rep) in repo">
                <div class="form-group">
                    <label for="projectname{{keyy}}">{{rep.name}}</label>
                    <input type="checkbox" value="{{rep.enabled}}" ng-model="repo[keyy].enabled"  ng-true-value="'YES'" ng-false-value="'NO'" type="text" class="form-control"
                           id="projectname{{keyy}}"
                           placeholder="Project name">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
