<div class="failure" travis-build-modal ng-if="displayFunctions.showModal(builds)"></div>

<div class="failure" travis-server-error ng-if="errorScreen"></div>

<div class="container-fluid row">
    <div ng-repeat="(key, build) in builds" class=" col col-md-3"
         ng-if="build.isFailed() && !build.hasRecentError()">
        <div travis-build type="fail"></div>
    </div>

    <div ng-repeat="(key, build) in builds" class=" col col-md-3" ng-if="build.isBuilding()">
        <div travis-build type="building"></div>
    </div>

    <div ng-repeat="(key, build) in builds | orderObjectByReverse:'finished_at'" class=" col col-md-3"
         ng-if="build.isPassing()">
        <div travis-build type="success"></div>
    </div>
</div>
